$fontfamaly: "Raleway", sans-serif;
$fontfamalyText:"Oswald", sans-serif;






*, *::before, *::after {
    box-sizing: border-box;
  }
/* 1 – Изменим стили шрифтов */
/* 2 – Удалим margin в Firefox и Safari */
input[type="text"] {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
  }

input{
    width: 100%;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

.fontText{
    font-family: $fontfamaly;
    font-weight: 200;
}
.fontTitle{
    font-family: $fontfamalyText;
}
.btn{
    font-weight: 400;
    background-color: darkred;
    color: white;
}
.data_cont{
    height: 350px;
}
.form_input{
    border: 0.5px solid black;
}



.main{
    color: white;
}

.form{
    .form_input{
        text-decoration: none;
        color: black;
        //margin: 100%;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        background-color: rgb(12, 26, 26);
        //opacity: 0.1;
        color: white;
           
        &:focus{
            background-color: darkslategrey;
            color: white;
            outline-width: 0;
        }
    }
    .date_text{
        margin-top: 20px;
    }
    .main_data_form_cont_button{
        padding: 8px 20px;
        
        margin-top: 20px;
        border-radius: 6px;
    }
}


.slider_cont{
    transition: 0.5s;
    display: none;
    //cursor: pointer;
    &:hover .slider_text {
        display: block;
        transition: 0.5s;
    }
    &:hover .shadow_main{
        opacity: 0.7;
       
    }
    .slider_img {
        object-fit: cover;
        object-position: center;
        @media screen  and  (max-width: 660px) {
            position: inherit;
            height: 350px;
        }
        
          
    }
    .shadow_main{
       transition: 0.5s;
      
    }
   
    .slider_text{
        display: none;
       
        
        
        
    }
}
.active{
    display: block;
    transition: 0.5s;
}

   
   @media screen and (max-width: 1200px) {
    .main{
        padding: 40px 0;
    }
    .main_data{
        padding: 0 40px;
    }
    .main_header{
        padding: 0 40px;
    }
    .main_footer{
        padding: 0 40px;
    }
        
    
      }

      @media screen and (max-width: 660px){
            .main_data_cont{
                display: flex;
                flex-direction: column;
            }
      }

   @media screen and (max-width: 350px){
    .main_footer{
        margin-top: 100px;
        
        flex-direction: column;
        align-items: center;
        .main_footer_name{
           margin-bottom: 20px;
        
    }
    }
        
      }

.main_data_info_town{
    display: none;
.main_data_info_town_item{
    width: 100%;
    .main_data_info_town_item_ul{
        //padding: 0 20px;
        
        width: 100%;
        height: 250px;
        overflow-y: scroll;
       
        .main_data_info_town_item_ul_li{
            transition: .5s;
            border-radius: 10px;
              &:hover{
                background-color: white;
                color: black;
                
                transition: .3s;
              }
              padding: 10px 5px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;
            .main_data_info_town_item_ul_li_span{

            }
            .main_data_info_town_item_ul_li_p{

            }
        }
    }
}

}





@keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
  @keyframes showText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
